.container {
  max-width: 600px;
  margin-inline: auto;

  &__user {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #0013ff;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #434ee7;
    }
  }
}
