.container {
  margin: 50px;

  &__posts {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    border-bottom: 1px solid grey;

    &-title {
      font-size: 20px;
      font-weight: 900;
    }

    &-body {
      padding-top: 5px;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    column-gap: 20px;

    button {
      padding: 10px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      background-color: #2aaf2f;
      color: #fff;
      cursor: pointer;
    }

    :last-child {
      background-color: red;
    }
  }
}
